.promo {
	padding: 200px 180px 0;
	height: 894px;
}
.wrapper {
	display: flex;
}
.textwrap {
	width: 586px;
	height: 287px;
	display: flex;
	flex-direction: column;
	position: relative;
	&::before {
		position: absolute;
		left: -95px;
		top: 70px;
		content: '';
		width: 74px;
		height: 222px;
		background: url("data:image/svg+xml,%3Csvg width='79' height='235' viewBox='0 0 79 235' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M75.7998 3.19806C50.1843 3.91647 54.9044 2.94458 34.1801 22.898C29.4468 27.4551 22.2901 32.9978 20.6682 41.0942C18.2748 53.042 32.9256 89.1888 42.5174 75.8854C48.7163 67.2878 47.5223 52.5204 38.0924 48.6148C22.6279 42.2098 10.1944 61.1468 5.38686 77.5103C0.0940138 95.5256 4.53909 115.234 17.0132 127.263C22.7118 132.758 31.9039 130.27 26.8618 118.599C16.4911 94.596 4.49663 123.714 6.12058 139.661C9.04561 168.385 33.7168 206.119 56.799 200.135C64.0159 198.264 61.657 194.09 58.6284 191.002C55.5553 187.869 47.8279 176.427 49.9025 180.772C53.5294 188.367 58.1307 191.423 63.2708 195.883C69.9006 201.635 55.68 214.205 51.5604 218.692C49.3978 221.047 46.2555 226.322 45.6706 230.164C44.5155 237.748 52.8538 217.931 54.346 210.482' stroke='%2300ADB5' stroke-opacity='0.2' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
			center center / cover no-repeat;
	}
}

.text {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-weight: 700;
	font-size: 96px;
	line-height: 96px;
}

.btns {
	margin-top: 48px;
	display: flex;
	gap: 24px;
}

.doodles {
	width: 514px;
	height: 670px;
	background-repeat: no-repeat;
	background-position: 28px -33px;
	background-size: 514px;
	margin: -90px 0 0 auto;
	padding-top: 80px;
}
.down {
	width: 96px;
	height: 96px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark);
	background-image: url("data:image/svg+xml,%3Csvg width='23' height='38' viewBox='0 0 23 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 1L11.5 37' stroke='%23EEEEEE' stroke-opacity='0.75' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22 26.5L11.5 37L1 26.5' stroke='%23EEEEEE' stroke-opacity='0.75' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center center;
}

@media (max-width: 1200px) {
	.promo {
		padding: 80px;
	}
	.text {
		font-size: 80px;
		line-height: 80px;
	}
	.doodles {
		border: 1px solid red;
		width: 450px;
		height: 570px;
		background-size: 425px;
		background-position: 28px -2px;
	}
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

@media (max-width: 320px) {
}
