.header {
	height: 132px;
	border-bottom: 1px solid var(--dark);
	.nav {
		height: 132px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.links {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 48px;
			width: 502px;
			a {
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 27px;
				color: var(--white);
			}
		}
	}
}
