.footer {
	height: 400px;
	padding-top: 100px;
	border-top: 1px solid rgba(238, 238, 238, 0.1);
}
.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 48px;
	li {
		width: 143px;
		height: 47px;
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			position: relative;
			&::before {
				content: '';
				width: 24px;
				height: 24px;
				position: absolute;
				left: -34px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.home::before {
			background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 9L12 2L21 9V20C21 20.5304 20.7893 21.0391 20.4142 21.4142C20.0391 21.7893 19.5304 22 19 22H5C4.46957 22 3.96086 21.7893 3.58579 21.4142C3.21071 21.0391 3 20.5304 3 20V9Z' stroke='%23EEEEEE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 22V12H15V22' stroke='%23EEEEEE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
				center center / cover no-repeat;
		}
		.abt::before {
			background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21' stroke='%23EEEEEE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z' stroke='%23EEEEEE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
				center center / cover no-repeat;
		}
		.contact::before {
			background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.0001 16.9201V19.9201C22.0012 20.1986 21.9441 20.4743 21.8326 20.7294C21.721 20.9846 21.5574 21.2137 21.3521 21.402C21.1469 21.5902 20.9046 21.7336 20.6408 21.8228C20.377 21.912 20.0974 21.9452 19.8201 21.9201C16.7429 21.5857 13.7871 20.5342 11.1901 18.8501C8.77388 17.3148 6.72539 15.2663 5.19006 12.8501C3.50003 10.2413 2.4483 7.27109 2.12006 4.1801C2.09507 3.90356 2.12793 3.62486 2.21656 3.36172C2.30518 3.09859 2.44763 2.85679 2.63482 2.65172C2.82202 2.44665 3.04986 2.28281 3.30385 2.17062C3.55783 2.05843 3.8324 2.00036 4.11006 2.0001H7.11006C7.59536 1.99532 8.06585 2.16718 8.43382 2.48363C8.80179 2.80008 9.04213 3.23954 9.11005 3.7201C9.23668 4.68016 9.47151 5.62282 9.81006 6.5301C9.9446 6.88802 9.97372 7.27701 9.89396 7.65098C9.81421 8.02494 9.62892 8.36821 9.36005 8.6401L8.09006 9.9101C9.51361 12.4136 11.5865 14.4865 14.0901 15.9101L15.3601 14.6401C15.6319 14.3712 15.9752 14.1859 16.3492 14.1062C16.7231 14.0264 17.1121 14.0556 17.4701 14.1901C18.3773 14.5286 19.32 14.7635 20.2801 14.8901C20.7658 14.9586 21.2095 15.2033 21.5266 15.5776C21.8437 15.9519 22.0122 16.4297 22.0001 16.9201Z' stroke='%23EEEEEE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
				center center / cover no-repeat;
		}
	}
}

.links {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
	max-width: 480px;
	margin: 38px auto 0;
}

.social {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: var(--dark);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s all ease;

	&:hover {
		transform: translate3d(2px, 2px, 2px);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
		svg {
			path {
				fill-opacity: 1;
			}
		}
		&#stroke a svg {
			path {
				fill-opacity: unset;
				stroke-opacity: 1;
			}
		}
	}

	svg {
		transition: 0.3s all ease;
		path {
			fill: var(--white);
			fill-opacity: 0.75;
		}
	}
	&#stroke a svg {
		path {
			fill-opacity: none;
			fill: none;
			stroke: var(--white);
			stroke-opacity: 0.75;
		}
	}
}
